[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HausdorffGoF"]
	path = HausdorffGoF
	url = https://github.com/fakecloudsjy/hausdorffgof
